In [1]:
## Integer Example
age=35
type(age)

int

In [2]:
## floating point datatype
height=183.2
print(height)
print(type(height))

183.2
<class 'float'>

In [3]:
## string data type example

name="Sultan"
print(name)
print(type(name))

Sultan
<class 'str'>

In [5]:
## boolean datatype

is_true=True
type(is_true)

bool

In [7]:
a=10
b=10

type(a==b)

bool

In [8]:
## common errors

result="Hellpo" + 5

TypeError: can only concatenate str (not "int") to str

In [10]:
result="Hellpo" + str(5)
print(result)

Hellpo5

In [11]:
## Integer example

age=45
type(age)

int

In [12]:
## floating point dataty
height=185.6
print(height)
print(type(height))

185.6
<class 'float'>

In [13]:
##s tring data type example
name="Sultan"
print(name)
print(type(name))

Sultan
<class 'str'>

In [15]:
## boolean datatype

is_true=True
type(is_true)

bool

In [18]:
a=10
b=10

type(a==b)

bool