In [14]:
## Basic Syntax in Python
## Case sensetivity - Python is case sensetive

name="Sutlan"
Name="Baisbekov"

print(name)
print(Name)

Sutlan
Baisbekov

In [ ]:
## Indentation
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required. 

age=32
if age<30: 
    print(age)

In [17]:
## This is single line comment 

print("Ronaldo is goat")

Ronaldo is goat

In [20]:
## Line continuation
## Use a backlash (\) to continue to the next line


total=1+2+3+4+5+6+7+\
4+6+9

print(total)

47

In [21]:
## Multiple Statements on a sinle line

x=5;y=10;z=x+y
print(z)

## All above was about syntax

15

In [22]:
##Understand Semnatics in Python
# variables assignment
age=32 #age is an integer
name="Sultan" ##name is a string

In [27]:
##
type(age)

int

In [26]:
type(name)

str

In [30]:
## Type Infeerence 
variable=10
print(type(variable))
variable="Sultan"
print(type(variable))

<class 'int'>
<class 'str'>

In [31]:
age=45
if age>44:
    print(age)

45

In [32]:
## Name Error
a=b

NameError: name 'b' is not defined

In [41]:
## Code examples of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block